// =============================================================================
// ^SETTING.ASSETS.DEFAULTS
// =============================================================================

// -----------------------------------------------------------------------------
// Paths
// -----------------------------------------------------------------------------

$ekzo-images-path:       '/' + kotsu-path(images);
$ekzo-ui-path:           '/' + kotsu-path(images) + '/ui';
$ekzo-sprites-path:      '/' + kotsu-path(sprites);
$ekzo-fonts-path:        '/' + kotsu-path(fonts);

// -----------------------------------------------------------------------------
// Background
// -----------------------------------------------------------------------------

$ekzo-bg:                null; // `background` property on `html`

// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------

$ekzo-icons-prefix:      Icon--; // defined by Grunt task
$ekzo-icon-font:         icons;
$ekzo-icon-font-version: false; // `false` to disable, number to enable. Disabled for Kotsu, since all assets are cache-busted by Grunt task
$ekzo-icon-font-svg-id:  $ekzo-icon-font;

// -----------------------------------------------------------------------------
// Sprites
// -----------------------------------------------------------------------------

$ekzo-sprites-prefix:    Sprite--;
$ekzo-sprites-file:      'sprite.png';

// -----------------------------------------------------------------------------
// SVG fonts
// -----------------------------------------------------------------------------

$ekzo-use-svg-fonts:     false;