
// =======================================
// ^SETTING.FRAMEWORK.DEFAULTS
// =======================================

// ---------------------------------------
// Namespacing
// ---------------------------------------
// Used as prefix for every framework's class

$ekzo-g-ns: 'g-';
$ekzo-o-ns:  'o-';
$ekzo-t-ns:   't-';
$ekzo-s-ns:   's-';
$ekzo-h-ns:  'h-';

// ---------------------------------------
// Spacing units
// ---------------------------------------

$ekzo-space: $ekzo-line-height;