// =======================================
// ^SETTING.THEMES
// =======================================

$ekzo-colors: (
  primary:       kotsu-theme-color(),
  green-white:   #e0e3da,
  ivory:         #fffff3,
  outer-space:   #313840,
  black-30:      rgba(#000, .3)
);

@include ekzo-extend-themes(base, (

  // ---------------------------------------
  // Background
  // ---------------------------------------

  bg:                    ekzo-color(outer-space),

  // ---------------------------------------
  // Text
  // ---------------------------------------

  text:                   ekzo-color(green-white),

  // ---------------------------------------
  // Links
  // ---------------------------------------

  links:                  ekzo-color(primary),
  links-hover:            ekzo-tint(ekzo-color(primary), 20),

  // ---------------------------------------
  // Headings
  // ---------------------------------------

  headings:               null,
  extra-headings:         null,

  // ---------------------------------------
  // Selection
  // ---------------------------------------

  selection:              null,
  selection-bg:           null,

  // ---------------------------------------
  // Code
  // ---------------------------------------

  code:                  ekzo-shade(ekzo-color(green-white), 10),
  code-bg:               ekzo-color(black-30),

  // ---------------------------------------
  // Forms
  // ---------------------------------------

  forms:                  ekzo-color(green-white),
  forms-placeholder:      ekzo-tint(ekzo-color(outer-space), 20),
  forms-border:           rgba(ekzo-color(green-white), .3),
  forms-bg:               ekzo-color(outer-space),

  // ---------------------------------------
  // Horizontal line
  // ---------------------------------------

  hr:                     ekzo-tint(ekzo-color(outer-space), 10),

  // ---------------------------------------
  // Buttons
  // ---------------------------------------

  btn:                    ekzo-color(green-white),
  btn-bg:                 ekzo-color(primary),

  // ---------------------------------------
  // Breadcrumb
  // ---------------------------------------

  breadcrumb-links:      ekzo-color(green-white),
  breadcrumb-delimiters: ekzo-tint(ekzo-color(green-white), 50),

))