
// =======================================
// ^BASE
// =======================================

// ---------------------------------------
// Custom HTML and body styling
// ---------------------------------------

html {}

body {}

// ---------------------------------------
// Main wrapper styling
// ---------------------------------------

.site-wrapper {
	position: relative;

	@if variable-exists(site-min-width) and $site-min-width != null and $site-min-width {
		min-width: $site-min-width;
	}

	@if variable-exists(site-max-width) and $site-max-width != null and $site-max-width {
		max-width: $site-max-width;
	}

	padding-left:  $ekzo-spacing-unit;
	padding-right: $ekzo-spacing-unit;

	margin: 0 auto;
}