
// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$brand-color:                          #DA5700;

// ---------------------------------------
// Text
// ---------------------------------------

$ekzo-text-color:                      #ccc;

// ---------------------------------------
// Links
// ---------------------------------------

$ekzo-links-color:                     #35adda;
$ekzo-links-hover-color:               #69d1c6; // false to disable, color value to enable

// ----
// Links borders
//
// You have to enable width or style in `settings.options` too!

$ekzo-links-border-top-color:          false; // false to disable, color value to enable
$ekzo-links-border-right-color:        false; // false to disable, color value to enable
$ekzo-links-border-bottom-color:       false; // false to disable, color value to enable
$ekzo-links-border-left-color:         false; // false to disable, color value to enable

$ekzo-links-hover-border-top-color:    false; // false to disable, color value to enable
$ekzo-links-hover-border-right-color:  false; // false to disable, color value to enable
$ekzo-links-hover-border-bottom-color: false; // false to disable, color value to enable
$ekzo-links-hover-border-left-color:   false; // false to disable, color value to enable


// ---------------------------------------
// Headings
// ---------------------------------------

$ekzo-headings-color:                  false; // false to disable, color value to enable
$ekzo-extra-headings-color:            false; // false to disable, color value to enable

// ---------------------------------------
// Forms
// ---------------------------------------

$ekzo-forms-bg-color:                  #fff;
$ekzo-forms-color:                     #8b8b8b;
$ekzo-forms-placeholder-color:         #a9a9a9;

// ---------------------------------------
// Buttons
// ---------------------------------------

$ekzo-btn-color:                       $ekzo-text-color;  // false to disable, color value to enable
$ekzo-btn-bg-color:                    $brand-color;      // false to disable, color value to enable
$ekzo-btn-hover-color:                 ekzo-tint($ekzo-text-color, 40);             // false to disable, color value to enable
$ekzo-btn-hover-bg-color:              ekzo-tint($brand-color, 10);             // false to disable, color value to enable

// ----
// Buttons borders
//
// You have to enable width or style in `settings.options` too!

$ekzo-btn-border-top-color:            false; // false to disable, color value to enable
$ekzo-btn-border-right-color:          false; // false to disable, color value to enable
$ekzo-btn-border-bottom-color:         false; // false to disable, color value to enable
$ekzo-btn-border-left-color:           false; // false to disable, color value to enable

$ekzo-btn-hover-border-top-color:      false; // false to disable, color value to enable
$ekzo-btn-hover-border-right-color:    false; // false to disable, color value to enable
$ekzo-btn-hover-border-bottom-color:   false; // false to disable, color value to enable
$ekzo-btn-hover-border-left-color:     false; // false to disable, color value to enable

// ----
// Buttons states

$ekzo-btn--positive-color:             #7ef76a;
$ekzo-btn--positive-bg-color:          #1fa205;

$ekzo-btn--negative-color:             #f87;
$ekzo-btn--negative-bg-color:          #a20b05;

$ekzo-btn--disabled-color:             #464646;
$ekzo-btn--disabled-bg-color:          #d3d3d3;

// ---------------------------------------
// Breadcrumb
// ---------------------------------------

$ekzo-breadcrumb-links-color:          #d3d3d3; // false to disable, color value to enable
$ekzo-breadcrumb-delimiters-color:     #d3d3d3; // false to disable, color value to enable

// ---------------------------------------
// Backgrounds
// ---------------------------------------

$ekzo-bg-color:                        #353a39;