
// =======================================
// ^SETTING.RESPONSIVE.DEFAULTS
// =======================================

// ---------------------------------------
// Site widths
// ---------------------------------------

$site-min-width: 930px;
$site-max-width: 1280px;

// ---------------------------------------
// Responsiveness
// ---------------------------------------

$responsive-grid:    true;
$responsive-spacing: true;
$responsive-tables:  true;
$responsive-widths:  true;

// ---------------------------------------
// Breakpoints
// ---------------------------------------

$lap:         481px;
$desk:        1024px;
$desk-wide:   1200px;

$breakpoints: (
	palm:       'screen and (max-width: #{$lap - 1px})',
	lap:        'screen and (min-width: #{$lap}) and (max-width: #{$desk - 1px})',
	lap-and-up: 'screen and (min-width: #{$lap})',
	portable:   'screen and (max-width: #{$desk - 1px})',
	desk:       'screen and (min-width: #{$desk})',
	desk-wide:  'screen and (min-width: #{$desk-wide})'
);

$breakpoints--devices: (
	retina:     'screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi)'
);

$breakpoints--custom: ();