
// =======================================
// ^SETTING.FRAMEWORK.DEFAULTS
// =======================================
//
// Used for various framework calculations

$ekzo-spacing-unit:        $ekzo-line-height;
$ekzo-half-spacing-unit:   $ekzo-spacing-unit / 2;
$ekzo-double-spacing-unit: $ekzo-spacing-unit * 2;
$ekzo-triple-spacing-unit: $ekzo-spacing-unit * 3;

$ekzo-line-height-ratio:   $ekzo-line-height / ekzo-font-size(base);