
// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$ekzo-colors: (
  dull-lavender: #a593e0,
  green-white:   #e0e3da,
  ivory:         #fffff3,
  outer-space:   #313840,
  black-30:      rgba(0, 0, 0, 0.3)
);

// Extend themes via `ekzo-extend-theme` mixin
// @example
//   @include ekzo-extend-themes(flat, ( brand: red ) );

@include ekzo-extend-themes(base, (

  // ---------------------------------------
  // Text
  // ---------------------------------------

  text:                      ekzo-color(green-white),

  // ---------------------------------------
  // Links
  // ---------------------------------------
  // @param {string|false} - false to disable, color value to enable

  links:                     ekzo-color(dull-lavender),
  links-hover:               ekzo-tint(ekzo-color(dull-lavender), 20),

  // ---------------------------------------
  // Headings
  // ---------------------------------------
  // @param {string|false} - false to disable, color value to enable

  headings:                  false,
  extra-headings:            false,

  // ---------------------------------------
  // Selection
  // ---------------------------------------
  // @param {string|false} - false to disable, color value to enable

  selection:                 false,
  selection-bg:              false,

  // ---------------------------------------
  // Forms
  // ---------------------------------------

  forms:                     ekzo-color(green-white),
  forms-placeholder:         ekzo-tint(ekzo-color(outer-space), 20),
  forms-bg:                  ekzo-color(outer-space),

  // ---------------------------------------
  // Buttons
  // ---------------------------------------
  // @param {string|false} - false to disable, color value to enable

  btn:                       ekzo-color(green-white),
  btn-bg:                    ekzo-color(dull-lavender),

  // ---------------------------------------
  // Horizontal line
  // ---------------------------------------

  hr:                       ekzo-tint(ekzo-color(outer-space), 10),

  // ---------------------------------------
  // Breadcrumb
  // ---------------------------------------
  // @param {string|false} - false to disable, color value to enable

  breadcrumb-links:         ekzo-color(green-white),
  breadcrumb-delimiters:    ekzo-tint(ekzo-color(green-white), 50),

  // ---------------------------------------
  // Backgrounds
  // ---------------------------------------

  bg:                       ekzo-color(outer-space)

), $default: true);