
// =======================================
// ^SETTING.RESPONSIVE.DEFAULTS
// =======================================

// ---------------------------------------
// Site widths and paddings
// ---------------------------------------

$site-min-width: 930px;
$site-max-width: 1280px;

$site-padding-left:  $ekzo-spacing-unit;
$site-padding-right: $ekzo-spacing-unit;

// ---------------------------------------
// Responsiveness
// ---------------------------------------

$ekzo-enable-responsive-buttons: true;
$ekzo-enable-responsive-grid:    true;
$ekzo-enable-responsive-spacing: true;
$ekzo-enable-responsive-tables:  true;
$ekzo-enable-responsive-widths:  true;

// ---------------------------------------
// Breakpoints
// ---------------------------------------

$ekzo-lap:         481px;
$ekzo-desk:        1024px;
$ekzo-desk-wide:   1200px;

$ekzo-breakpoints: (
	breakpoints: (
		palm:       'screen and (max-width: #{$ekzo-lap - 1px})',
		lap:        'screen and (min-width: #{$ekzo-lap}) and (max-width: #{$ekzo-desk - 1px})',
		lap-and-up: 'screen and (min-width: #{$ekzo-lap})',
		portable:   'screen and (max-width: #{$ekzo-desk - 1px})',
		desk:       'screen and (min-width: #{$ekzo-desk})',
		desk-wide:  'screen and (min-width: #{$ekzo-desk-wide})'
	),
	types: (
		retina:     'screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi)'
	),
	custom: ()
);
