
// =======================================
// ^SETTING.ASSETS.DEFAULTS
// =======================================

// ---------------------------------------
// Paths
// ---------------------------------------

$ekzo-assets-path:       '/assets';
$ekzo-images-path:       '#{$ekzo-assets-path}/images';
$ekzo-ui-path:           '#{$ekzo-images-path}/ui';
$ekzo-sprites-path:      '#{$ekzo-assets-path}/sprites';
$ekzo-fonts-path:        '#{$ekzo-assets-path}/fonts';

// ---------------------------------------
// Background
// ---------------------------------------

$ekzo-bg:                $ekzo-bg-color;

// ---------------------------------------
// Icons and sprites
// ---------------------------------------

$ekzo-icons-prefix:      icon--;
$ekzo-sprites-prefix:    sprite--;

$ekzo-icon-font:         fontello;
$ekzo-icon-font-version: 79220573;
$ekzo-icon-font-svg-id:  $ekzo-icon-font;

$ekzo-sprites-file:      'sprites.png';