
// =======================================
// ^SETTING.TYPOGRAPHY.DEFAULTS
// =======================================

// ---------------------------------------
// Font sizes
// ---------------------------------------

$ekzo-font-sizes: (

  text: (
    base: 14px, // used for vertical rhythm calculation; = .text--base, .font-size--base, .line-height--base
    '-':  12px, // = .text-,  .font-size-,  .line-height-
    '--': 10px, // = .text--, .font-size--, .line-height--
  ),

  headings: (
    h1: 36px, // = h1, .h1, .font-size--h1, .line-height--h1
    h2: 30px, // = h2, .h2, .font-size--h2, .line-height--h2
    h3: 24px, // = h3, .h3, .font-size--h3, .line-height--h3
    h4: 21px, // = h4, .h4, .font-size--h4, .line-height--h4
    h5: 18px, // = h5, .h5, .font-size--h5, .line-height--h5
    h6: 16px, // = h6, .h6, .font-size--h6, .line-height--h6
  ),

  extra-headings: (
    \+\+: 96px, // = .extra-h\+\+, .font-size\+\+, .line-height\+\+
    \+:   72px, // = .extra-h\+,   .font-size\+,   .line-height\+
    '':   44px, // = .extra-h,     .font-size,     .line-height
  ),

  ems: (
    '--':     .5em,
    '-':      .75em,
    \+---:    1.25em,
    \+--:     1.5em,
    \+:       2em,
    \+\+---:  2.25em,
    \+\+--:   2.5em,
    \+\+:     3em,
    \+\+\+:   4em,
    \+\+\+\+: 5em
  ),

  buttons: (), // = .btn--*name*

);

$ekzo-forms-font-size:              ekzo-font-size(h5, headings);
$ekzo-forms-placeholder-font-size:  $ekzo-forms-font-size;

$ekzo-code-font-size:               90%;
$ekzo-kbd-font-size:                90%;

// ---------------------------------------
// Line heights
// ---------------------------------------

$ekzo-line-height:                  ekzo-font-size(base) * 1.5;

// ---------------------------------------
// Font famylies
// ---------------------------------------

$ekzo-font-families: (
  base:           sans-serif,
  monospace:      'monospace, monospace'
);

$ekzo-ui-font-families: (
  text:           ekzo-font-family(base),

  headings:       false, // false to disable, font name(s) to enable
  extra-headings: false, // false to disable, font name(s) to enable

  forms:          inherit,

  code:           ekzo-font-family(monospace),
  kbd:            ekzo-font-family(monospace)
);

// ---------------------------------------
// Font weights and styles
// ---------------------------------------

$ekzo-font-weight:                  normal;

$ekzo-headings-font-weight:         normal;
$ekzo-extra-headings-font-weight:   normal;

$ekzo-forms-placeholder-font-style: italic;