
// =======================================
// ^SETTING.TYPOGRAPHY.DEFAULTS
// =======================================

// ---------------------------------------
// Font sizes
// ---------------------------------------

$ekzo-font-sizes: (
	text: (
		base:  14px, // used for vertical rhythm calculation; = .text--base
		small: 12px, // = .text--small
		tiny:  10px, // = .text--tiny
	),
	headings: (
		h1: 36px, // = h1, .h1, .btn--h1
		h2: 30px, // = h2, .h2, .btn--h2
		h3: 24px, // = h3, .h3, .btn--h3
		h4: 21px, // = h4, .h4, .btn--h4
		h5: 18px, // = h5, .h5, .btn--h5
		h6: 16px, // = h6, .h6, .btn--h6
	),
	extra-headings: (
		giga: 96px, // = .text--giga
		mega: 72px, // = .text--mega
		kilo: 44px, // = .text--kilo
	),
	buttons: () // = .btn--*name*
);

$ekzo-forms-font-size:              ekzo-font-size(h5, headings);
$ekzo-forms-placeholder-font-size:  $ekzo-forms-font-size;

// ---------------------------------------
// Line heights
// ---------------------------------------

$ekzo-line-height:                  ekzo-font-size(base) * 1.5;

// ---------------------------------------
// Font famylies
// ---------------------------------------

$ekzo-font-family:                  sans-serif;
$second-font-family:                sans-serif;

$ekzo-headings-font-family:         false; // false to disable, font name(s) to enable
$ekzo-extra-headings-font-family:   false; // false to disable, font name(s) to enable

$ekzo-forms-font-family:            $ekzo-font-family;

// ---------------------------------------
// Font weights and styles
// ---------------------------------------

$ekzo-font-weight:                  normal;

$ekzo-headings-font-weight:         normal;
$ekzo-extra-headings-font-weight:   normal;

$ekzo-breadcrumb-root-font-weight:  bold;

$ekzo-forms-placeholder-font-style: italic;