
// =======================================
// ^SETTING.ASSETS.DEFAULTS
// =======================================

// ---------------------------------------
// Paths
// ---------------------------------------

$ekzo-assets-path:       '/assets';
$ekzo-images-path:       '#{$ekzo-assets-path}/images';
$ekzo-ui-path:           '#{$ekzo-images-path}/ui';
$ekzo-sprites-path:      '#{$ekzo-assets-path}/sprites';
$ekzo-fonts-path:        '#{$ekzo-assets-path}/fonts';

// ---------------------------------------
// Background
// ---------------------------------------

$ekzo-bg:                $ekzo-bg-color;

// ---------------------------------------
// Icons and sprites
// ---------------------------------------

$ekzo-icons-prefix:      icon--;
$ekzo-sprites-prefix:    sprite--;

$ekzo-sprites-file:      'sprite.png';

// ---------------------------------------
// Fonts
// ---------------------------------------

$ekzo-use-svg-fonts:     false;

$ekzo-icon-font:         icons;
$ekzo-icon-font-version: false; // `false` to disable, number to enable. Disable for Kotsu, since all assets are cache-busted by Grunt task
$ekzo-icon-font-svg-id:  $ekzo-icon-font;