
// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$brand-color:                  #ff6600;

// ---------------------------------------
// Text
// ---------------------------------------

$ekzo-text-color:              #ccc;

// ---------------------------------------
// Links
// ---------------------------------------

$ekzo-links-color:             #35adda;
$ekzo-links-hover-color:       #69d1c6;

// ---------------------------------------
// Headings
// ---------------------------------------

$ekzo-headings-color:          #585c5d;
$ekzo-extra-headings-color:    $ekzo-headings-color;

// ---------------------------------------
// Forms
// ---------------------------------------

$ekzo-forms-bg-color:          #FFF;
$ekzo-forms-color:             #8b8b8b;
$ekzo-forms-placeholder-color: #a9a9a9;

// ---------------------------------------
// Buttons
// ---------------------------------------

$ekzo-btn-color:               $ekzo-text-color;
$ekzo-btn-bg-color:            $brand-color;

$ekzo-btn--positive-color:     #7ef76a;
$ekzo-btn--positive-bg-color:  #1fa205;

$ekzo-btn--negative-color:     #ff8877;
$ekzo-btn--negative-bg-color:  #a20b05;

$ekzo-btn--disabled-color:     #464646;
$ekzo-btn--disabled-bg-color:  #d3d3d3;

// ---------------------------------------
// Breadcrumb
// ---------------------------------------

$ekzo-breadcrumb-link-color:      #d3d3d3;
$ekzo-breadcrumb-delimiter-color: #d3d3d3;

// ---------------------------------------
// Backgrounds
// ---------------------------------------

$ekzo-bg-color:                   #353a39;