
/*------------------------------------*\
		$VARIABLES
\*------------------------------------*/

/**
 * Any variables you find set in inuit.css `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */


/*------------------------------------*\
		$SITE
\*------------------------------------*/

$site-min-width: 930px;
$site-max-width: 1280px;



/*------------------------------------*\
		$FONTS
\*------------------------------------*/

$base-font-size:              14px;

$base-font-family:            "Open Sans", Helvetica, Arial, sans-serif;
$base-font-weight:            normal;

$second-font-family:          "Helvetica LT Condensed", Arial, sans-serif;

$headings-font-family:        $second-font-family;
$headings-font-weight:        normal;

$form-placeholder-font-style: normal;



/*------------------------------------*\
		$FONT-SIZES
\*------------------------------------*/

$h-giga-size:            96px;
$h-mega-size:            72px;
$h-kilo-size:            49px;

$h1-size:                36px; // .h1
$h2-size:                30px; // .h2
$h3-size:                24px; // .h3
$h4-size:                21px; // .h4
$h5-size:                18px; // .h5
$h6-size:                16px; // .h6

$text-milli-size:        12px;
$text-micro-size:        10px;

$base-form-font-size:    $base-font-size;



/*------------------------------------*\
		$COLORS
\*------------------------------------*/

/**
 * Base colors
 */

$base-color:                      #ff6600;

$base-font-color:                 #444;

$base-bg-color:                   #353a39;

$base-link-color:                 $base-color;
$base-link-hover-color:           #000;

$base-headings-color:             #585c5d;
$apply-color-to-base-headings:    true;

$extra-headings-color:            $base-headings-color;
$apply-color-to-extra-headings:   true;

$base-form-bg-color:              #fff;
$base-form-color:                 #333;

$base-form-placeholder-color:     #a9a9a9;

$base-button-bg-color:            #313232;
$base-button-color:               #fee0cd;

$base-button-bg-color--positive:  #1fa205;
$base-button-color--positive:     #7ef76a;

$base-button-bg-color--negative:  #a20b05;
$base-button-color--negative:     #ff8877;

$base-button-bg-color--disabled:  #d3d3d3;
$base-button-color--disabled:     #464646;

$base-breadcrumb-separator-color: #bbc2c5;



/*------------------------------------*\
		$ASSETS
\*------------------------------------*/

$base-assets-path:       '/assets/';
	$base-images-path:     '#{$base-assets-path}images/';
	$base-fonts-path:      '#{$base-assets-path}fonts/';

/**
 * Icon-font
 */

$base-icon-font:         fontello;
$base-icon-font-version: 79220573;


/**
 * Backgrounds
 */

$base-bg:                $base-bg-color;