
// =======================================
// ^IMPORTS
// =======================================

// ---------------------------------------
// Functions
// ---------------------------------------

@import 'ekzo.sass/functions/typography';

// ---------------------------------------
// Options, styles, colors etc.
// ---------------------------------------

@import 'settings.typography';
@import 'settings.framework';
@import 'settings.colors';
@import 'settings.assets';
@import 'settings.options';
@import 'settings.responsive';

// ---------------------------------------
// Framework
// ---------------------------------------

@import 'ekzo.sass/framework';

// ---------------------------------------
// Site's custom styling
// ---------------------------------------

@import 'generated/sprites.map';

@import 'generic/animations';
@import 'generic/fonts';
@import 'generic/forms';
@import 'generic/icons';
@import 'generic/links';
@import 'generic/lists';
@import 'generic/sprites';
@import 'generic/texts';

@import 'layouts/site-base';
@import 'layouts/site-header';
@import 'layouts/site-main';
@import 'layouts/site-footer';

@import 'objects/breadcrumb';
@import 'objects/buttons';

@import 'partials/outdated-browser';

@import 'layouts/index';