
// =======================================
// ^ICONS
// =======================================
//
// All icons already included from generated
// by Grunt task `icons.scss` file and ready to be used
//
// Refer to that file or `icons` directory for list of icons
//
// All icons selectors by default appended with `icon--` prefix

// ---------------------------------------
// Icons extensions
// ---------------------------------------
//
// Any neccessary extension and overrides for your icons.
//
// @example
//
//    icon--name { border: 1px }
//