// =============================================================================
// ^NAV
// =============================================================================

.Nav {}

  .Nav__list {}

    .Nav__item {

      &.is-active {

        > a { @include ekzo-theme() { color: inherit; } }

      }

    }

      .Nav__link {}