
// =======================================
// ^OUTDATED-BROWSER
// =======================================
//
// Outdated Browser prompt box's styling

.Outdated-browser {
  background: #ddd;

  color: #000;

  margin-bottom: 0;

  padding: ekzo-spacing(1);
}

.Outdated-browser__link {
  color: #09f;

  text-decoration: underline;
}