// =============================================================================
// ^WRAPPER
// =============================================================================

$wrapper-padding: ekzo-space();

.Wrapper {
  padding-left:  $wrapper-padding;
  padding-right: $wrapper-padding;
}

.Wrapper--bleed {
  margin-left:  - $wrapper-padding;
  margin-right: - $wrapper-padding;
}

// ----
// Base width of website

.Wrapper--content {
  min-width: 320px;
  max-width: 1280px;

  margin-left:  auto;
  margin-right: auto;
}

// ----
// Limit to ~80 characters per line

.Wrapper--readable {
  max-width: 34em;

  margin-left:  auto;
  margin-right: auto;
}