
// =======================================
// ^SITE-FOOTER
// =======================================

.site-footer {
  padding-top:    $ekzo-spacing-unit * 1.5;
  padding-bottom: $ekzo-spacing-unit * 1.5;
}