
// =======================================
// ^SITE-MAIN
// =======================================

.site-main {
	padding-top:    $ekzo-spacing-unit * 1.5;
	padding-bottom: $ekzo-spacing-unit * 1.5;

	p:last-child,
	ul:last-child { margin-bottom: 0; }
}

	// ---------------------------------------
	// Site's content styling
	// ---------------------------------------

	.site-content { position: relative; }

		// ----
		// Site's content inner wrapper styling

		.site-content-wrapper {}

			// ----
			// Site's main content title styling

			.site-content-title {}