
/*------------------------------------*\
		$BROWSE-HAPPY
\*------------------------------------*/


/**
* Browse Happy prompt box's styling
*/

.site-browse-happy {
    background: #CCC;

    color: #000;

    margin: $base-spacing-unit 0;
    padding: $base-spacing-unit 0;
}