
// =======================================
// ^CODE
// =======================================

pre,
code {
  @include ekzo-theme() { color: ekzo-theme(code) };
  @include ekzo-theme() { background-color: ekzo-theme(code-bg) };

  border-radius: 2px;
}

code { padding: ekzo-em(ekzo-space(.25) / 2); }

pre {
  padding: ekzo-em(ekzo-space(.25));
  overflow: hidden;

  code { @include ekzo-theme() { background-color: transparent }; }

  &:hover,
  &:focus { min-width: min-content; }

}