// =============================================================================
// ^FONTS
// =============================================================================

// @include ekzo-font-face(
//   $font:      'Myriad Pro Web',
//   $version:   false,
//   $file-name: MyriadPro-Regular,
//   $weight:    normal,
//   $style:     normal
// )

// @include ekzo-font-face(
//   $font:      'Myriad Pro Web',
//   $version:   false,
//   $file-name: MyriadPro-Semibold,
//   $weight:    600,
//   $style:     normal
// )

// @include ekzo-font-face(
//   $font:      'Myriad Pro Web',
//   $version:   false,
//   $file-name: MyriadPro-Bold,
//   $weight:    bold,
//   $style:     normal
// )