
// =======================================
// ^FORMS
// =======================================

$forms-border-width: 1px;

input {
	border: $forms-border-width solid #767676;

	padding: $ekzo-spacing-unit--half / 2;
}