
// =======================================
// ^FORMS
// =======================================

$forms-border-width: 1px;

input,
#{$ekzo-generics-ns}input {
  border: $forms-border-width solid #767676;

  padding: ekzo-spacing(.5);
}