
// =======================================
// ^FORMS
// =======================================

input,
#{$ekzo-generics-ns}input {
  border-width: 1px;
  @include ekzo-theme { border-color: ekzo-theme(forms-border); };

  padding: ekzo-space(.5);
}