
/*------------------------------------*\
		$OPTIONS
\*------------------------------------*/

$debug-mode:              false;

$global-border-box:       false;

$base-links-underline:    false;
$base-links-hover-unline: false;


/**
* Elements and abstractions
*/

$use-arrows:              false;
$use-breadcrumb:          false;
$use-buttons:             false;
$use-flag:                false;
$use-forms:               true;
$use-grid:                true;
$use-icons:               false;
$use-island:              false;
$use-lists:               true;
$use-media:               false;
$use-nav:                 true;
$use-tables:              false;
$use-tooltips:            false;


/**
* Responsive
*/

$responsive:              false;

$responsive-palm:         false;
$responsive-lap:          false;
$responsive-lap-and-up:   false;
$responsive-portable:     false;
$responsive-desk:         false;

$responsive-desk-wide:    false;


/**
* Responsive breakpoint's start.
*/

$lap-start:         481px;
$desk-start:        1024px;
$desk-wide-start:   1200px;