// stylelint-disable declaration-no-important, selector-max-compound-selectors, selector-no-type
// @note We need `!important` here to properly redefine helpers in this layer

// =======================================
// ^BLOG-POST
// =======================================

$s-blog-post-font-size:    20px;
$s-blog-post-line-height:  $s-blog-post-font-size * 1.5;
$s-blog-post-space:        $s-blog-post-line-height;

.#{$ekzo-s-ns}blog-post {
  font-size: $s-blog-post-font-size;

  line-height: $s-blog-post-line-height;

  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin-bottom: $s-blog-post-space; }

  ul {
    margin-bottom: $s-blog-post-space;

    > li + li { margin-top: $s-blog-post-space; }

  }

  p {
    margin-bottom: $s-blog-post-space;

    &:last-child { margin-bottom: 0; }

  }

  .h-margin-bottom  { margin-bottom: $s-blog-post-space  !important; }
  .h-margin-top     { margin-top: $s-blog-post-space     !important; }
  .h-margin-top\+   { margin-top: $s-blog-post-space * 2 !important; }
  .h-margin-top\+\+ { margin-top: $s-blog-post-space * 3 !important; }

}