
// =======================================
// ^BLOG-POST
// =======================================

$s-blog-post-font-size:    20px;
$s-blog-post-line-height:  $s-blog-post-font-size * 1.5;
$s-blog-post-spacing:      $s-blog-post-line-height;

.#{$ekzo-scopes-ns}blog-post {
  font-size: $s-blog-post-font-size;

  line-height: $s-blog-post-line-height;

  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin-bottom: $s-blog-post-spacing; }

  ul {
    margin-bottom: $s-blog-post-spacing;

    > li + li { margin-top: $s-blog-post-spacing; }

  }

  p { margin-bottom: $s-blog-post-spacing; }

  // scss-lint:disable ImportantRule
  // @note We need `!important` here to properly redefine helpers in this layer
  .margin-bottom  { margin-bottom: $s-blog-post-spacing  !important; }
  .margin-top     { margin-top: $s-blog-post-spacing     !important; }
  .margin-top\+   { margin-top: $s-blog-post-spacing * 2 !important; }
  .margin-top\+\+ { margin-top: $s-blog-post-spacing * 3 !important; }

}