
/*------------------------------------*\
		$BROWSE-HAPPY
\*------------------------------------*/


/**
* Browse Happy prompt box's styling
*/

.site-browse-happy {
	background: #DDD;

	color: #000;

	margin-bottom: 0;
	padding: $base-spacing-unit;
}