
// =======================================
// ^OUTDATED-BROWSER
// =======================================
//
// Outdated Browser prompt box's styling

.site-outdated-browser {
	background: #DDD;

	color: #000;

	margin-bottom: 0;

	padding: $ekzo-spacing-unit;
}

.site-outdated-browser__link {
	color: #09F;

	text-decoration: underline;
}