
// =======================================
// ^ANIMATIONS
// =======================================

// .trans--all-,  %trans--all-  { transition: all 0.7s ease-in; }
// .trans--all,   %trans--all   { transition: all 0.4s ease-in; }
// .trans--all\+, %trans--all\+ { transition: all 0.15s ease; }