
// =======================================
// ^ANIMATIONS
// =======================================

.trans--all-,
%trans--all- { transition: all 0.7s ease-in; }

.trans--all,
%trans--all { transition: all .4s ease-in; }

.trans--all\+,
%trans--all\+ { transition: all .15s ease; }

.trans--all--flush,
%trans--all--flush { transition: none; }