// scss-lint:disable ImportantRule

// =======================================
// ^ANIMATIONS
// =======================================

.trans--all-,
%trans--all- { transition: all .7s ease-in !important; }

.trans--all,
%trans--all { transition: all .4s ease-in   !important; }

.trans--all\+,
%trans--all\+ { transition: all .15s ease   !important; }

.trans--all--flush,
%trans--all--flush { transition: none       !important; }