
// =======================================
// ^BASE
// =======================================

// ---------------------------------------
// Custom HTML and body styling
// ---------------------------------------

html {}

body {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}